// main
#main {
  display: flex;
  margin-top: 65px;

  #aside {
    width: 22%;
    min-height: 100vh;
    border-right: 1px solid var(--bg-dark-border);
    padding: 20px;

    button {
      display: block;
      font-size: 18px;
      margin-bottom: 30px;
      padding: 10px 15px;
      border-radius: 25px;
      cursor: pointer;

      span:first-child {
        display: inline-block;
        margin-right: 10px;
      }

      &:hover {
        background: #ffcfb8 !important;
        color: #2b110a;
        // text-decoration: underline #fff;
        // text-underline-position: under;
      }
    }
  }
  #contents {
    width: 70%;
    padding: 20px;

    h2 {
      //   padding: 5px 0;
      margin-bottom: 10px;

      em {
        color: #df5050;
      }
    }
  }
}

// videos__inner
.videos__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //   gap: 10px;

  > div {
    width: 24%;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;

    .box {
      a {
        display: block;
        img {
          &:hover {
            transform: scale(1.025);
          }
        }
      }

      .boxInfo {
        padding: 10px;

        .videoTitle {
          color: #fffbe0;
          font-size: 15px;
          margin-bottom: 4px;

          &:hover {
            background: rgba(60, 50, 50, 0.563);
          }
        }

        .channelName {
          color: #b1b1b1;
          font-size: 14px;

          &:hover {
            background: rgba(57, 54, 54, 0.563);
          }
        }
      }

      .videoTitle {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: keep-all;
      }

      .channelName {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: keep-all;
      }
    }

    &:hover {
      transform: scale(1.035);
    }
  }
}
@media (max-width: 1200px) {
  #aside {
    button {
      span:first-child {
      }
      span {
      }
    }
  }
  #contents {
    h2 {
      em {
      }
    }
  }
  .videos__inner {
    column-count: 3;
    column-gap: 20px;
    width: 100%;
    > div {
      .box {
        a {
          img {
          }
        }
        .boxInfo {
          .videoTitle {
          }
          .channelName {
          }
        }
        .videoTitle {
        }
        .channelName {
        }
      }
    }
  }
}

// videoConts
.videoConts {
  .videoConts__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 60px;

    .videoFrame {
      width: 75%;

      .videoPlay {
        width: 100%;
        margin-bottom: 25px;
        padding-bottom: 27.65%;
        position: relative;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      .videoSubject {
        width: 100%;
        height: 120px;
        background: #666666;
      }
    }
    .videoList {
      width: 24%;
      background: #ffffff;
    }
    .videoList.side {
      .videos__inner {
        display: flex;
        flex-direction: column;

        > div {
          width: 100%;

          .box {
            width: 100%;

            .boxInfo {
              background: #000;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .videoConts {
    .videoConts__inner {
      margin: 100px 50px;
      .videoFrame {
        .videoPlay {
        }
        .videoSubject {
        }
      }
      .videoList {
      }
    }
  }
}
@media (max-width: 1400px) {
  .videoConts {
    .videoConts__inner {
      margin: 100px 40px;
      .videoFrame {
        width: 78%;
        .videoPlay {
        }
        .videoSubject {
        }
      }
      .videoList {
        width: 21%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .videoConts {
    .videoConts__inner {
      margin: 100px 30px;
      .videoFrame {
        width: 81%;
        .videoPlay {
        }
        .videoSubject {
        }
      }
      .videoList {
        width: 18%;
      }
    }
  }
}
@media (max-width: 1000px) {
  .videoConts {
    .videoConts__inner {
      margin: 100px 20px;
      .videoFrame {
        .videoPlay {
        }
        .videoSubject {
        }
      }
      .videoList {
      }
    }
  }
}
@media (max-width: 900px) {
  .videoConts {
    .videoConts__inner {
      display: block;
      margin: 100px 10px;
      .videoFrame {
        width: 100%;
        .videoPlay {
        }
        .videoSubject {
          height: 200px;
        }
      }
      .videoList {
        margin: 10px 0;
        width: 100%;
        height: 500px;
      }
    }
  }
}

#channelConts {
  margin-top: 60px;
  color: #fff;

  .channel-header {
    // width: 100%;
    height: 230px;
    background-position: center center;
    background-size: cover;
    position: relative;
  }

  .ch__container {
    max-width: 1600px;
    margin: 0 auto;

    .channel-info {
      padding: 30px 70px;
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #d2d2d2;

      .infoBox-left {
        img {
          width: 70%;
          border-radius: 50%;
        }
      }

      .infoBox-right {
        h3 {
          height: 30px;
          margin: 40px 0 30px 0;
          font-size: 32px;
        }

        .info-content {
          margin-left: 40px;
          color: #e3debb;
          font-size: 22px;
          line-height: 1.8;

          .subscriberC {
            margin-right: 70px;
          }

          .videoC {
            margin-right: 70px;
          }

          .viewC {
          }
        }
      }
    }

    .channel-videos {
      padding: 20px 10px;
    }
  }
}
